@font-face {
  font-family: "iconfont"; /* Project id 2630463 */
  src: url('iconfont.woff2?t=1624512339692') format('woff2'),
       url('iconfont.woff?t=1624512339692') format('woff'),
       url('iconfont.ttf?t=1624512339692') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Windows:before {
  content: "\e6a0";
}

.icon-Adobe-Dreamweaver:before {
  content: "\e6c8";
}

.icon-Adobe-Photoshop:before {
  content: "\e6cb";
}

.icon-Sass:before {
  content: "\e6d0";
}

.icon-Bootstrap:before {
  content: "\e6d4";
}

.icon-GitHub:before {
  content: "\e6d5";
}

.icon-Microsoft-Excel:before {
  content: "\e6d6";
}

.icon-Microsoft-Onenote:before {
  content: "\e6d7";
}

.icon-Microsoft-Outlook:before {
  content: "\e6d8";
}

.icon-Microsoft-Powerpoint:before {
  content: "\e6d9";
}

.icon-Microsoft-Word:before {
  content: "\e6da";
}

.icon-JavaScript:before {
  content: "\e704";
}

.icon-CSS:before {
  content: "\e705";
}

.icon-HTML:before {
  content: "\e706";
}

.icon-webstorm:before {
  content: "\e713";
}

.icon-webpack:before {
  content: "\e799";
}

.icon-Vue:before {
  content: "\e79a";
}

.icon-jQuery:before {
  content: "\e79b";
}

.icon-Nodejs:before {
  content: "\e79c";
}

.icon-linux:before {
  content: "\e80b";
}

.icon-ditu:before {
  content: "\e8ac";
}

.icon-youjian:before {
  content: "\e8ad";
}

.icon-dianhua:before {
  content: "\e8ae";
}

